#*.csv filter=lfs diff=lfs merge=lfs -text
#databases/Populate[[:space:]]Reviews[[:space:]]Staging[[:space:]]Table.sql filter=lfs diff=lfs merge=lfs -text
#databases/Populate[[:space:]]Calendar[[:space:]]Staging[[:space:]]Table.sql filter=lfs diff=lfs merge=lfs -text
databases/** filter=lfs diff=lfs merge=lfs -text
#*.sql filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
*.sql filter=lfs diff=lfs merge=lfs -text
